:root {
    --bg-image: url('/src/Assets/sensual-smoke.jpg');

    --truth-btn: 0, 0, 255;     /* blue color */

    --dare-btn: 255, 0, 0;      /* red color */

    --text-color: 255, 255, 255;    /* white color */
}



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    overflow: hidden;
    background: rgb(56, 26, 31);
}



body::before {
    content: '';
    background-image: var(--bg-image);
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    filter: blur(30px);
    z-index: -1;
}

#title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#title > h1 {
    font-weight: 900;
    font-size: 40px;
    background: linear-gradient(to right, #ffbb00, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



#card {
    border-top: 3px dashed #ff00003f;
    border-bottom: 3px dashed #0000ff3f;
    height: 40%;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



#para {
    font-size: xx-large;
    font-weight: 400;
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 0 0 80px rgba(219, 221, 224, 0.75), 0 0 32px rgba(215, 220, 235, 0.24);
}


#btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(var(--text-color));
}


#btns > #truth {
    padding: 2rem;
    margin-right: 10rem;
    background: #0000ff3f;
    border: 1px solid #0000ff3f;
    border-radius: 50px;
    cursor: pointer;
}


#truth:hover {
    box-shadow: rgba(var(--truth-btn), 0.5) 0px 0px 20px 0px;
    transition: all 0.3s ease-in-out;
}
  


#btns > #dare {
    padding: 2rem;
    margin-left: 10rem;
    background: #ff00003f;
    border: 1px solid #ff00003f;
    border-radius: 50px;
    cursor: pointer;
} 


#dare:hover {
    box-shadow: rgba(var(--dare-btn), 0.5) 0px 0px 20px 0px;
    transition: all 0.3s ease-in-out
}




@media screen and (max-width: 768px) {
    #title > h1 {
        font-size: 26px;
    }

    
    #card {
        height: 30%;
        width: 90%;
    }



    #para {
        font-size: 15px;
        font-weight: 600;
    }


    #btns > #truth {
        padding: 1rem;
        margin-right: 0.5rem;
        border-radius: 50%;
    }


    #btns > #dare {
        padding: 1rem;
        margin-left: 0.5rem;
        border-radius: 50%;
    }
}



@media screen and (max-width: 360px) {
    #title > h1 {
        font-size: 25px;
    }
}